services:
  train:
    build: ./training
    container_name: llm-trainer
    volumes:
      - ./api/model:/app/model
    environment:
      - MODEL_NAME=TinyLlama/TinyLlama-1.1B-Chat-v1.0
    command: ["python3", "train.py"]

  api:
    build: ./api
    container_name: llm-api
    ports:
      - "8000:8000"
    volumes:
      - ./api/model:/app/model
    environment:
      - API_TOKEN=SUPER_SECRET_TOKEN_123
    depends_on:
      - train
